.footer {
  background-color: rgb(7, 7, 53);
  color: white;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.footer .left-section {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.footer .logo {
  display: block;
  height: 150px;
  width: 150px;
  padding: 0;
  margin: -60px -15px;
}


.footer h4 {
  margin: 0;
}
.footer .left-section .location, .footer .left-section .phone {
  color: white;
  font-size: 14px;
  margin: 0;
}

.footer .left-section a {
  color: red;
  text-decoration: none;
}

.footer .left-section p {
  font-size: 14px;
  color: gray;
  margin: 5px 0;
}
.footer .left-section .copyright {
  color: white;
  margin-top: 2.5rem;
  font-size: 14px;
}


.footer .middle-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer .middle-section a {
  color: gray;
  text-decoration: none;
}

.footer .right-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-right: 5rem;
  
}
.footer .right-section a {
  color: gray;
  text-decoration: none;
}
.footer .right-section .socials {
  margin-top: 2.5rem;
  display: flex;
  gap: 10px;justify-content: center;

}
.icon {
  width: 20px;
}

@media (max-width: 768px) {
  .footer {
    margin: 0 auto;
  }
  .footer .middle-section, .footer .right-section {
    margin-top: 1rem;
  }
  .footer .middle-section a, .footer .right-section a {
    font-size: 13px;
  }
  .footer .right-section {
    margin-right: 0;
  }
}


@media (max-width: 480px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 3rem;
    position: fixed;
  }
  .footer .middle-section, .footer .right-section {
    margin-top: 1rem;
  }
  .footer .middle-section a, .footer .right-section a {
    font-size: 12px;
  }
  .footer .middle-section h4, .footer .right-section h4 {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .footer .left-section .location, .footer .left-section .phone {
    font-size: 12px;
  }

  .footer .left-section .copyright {
    font-size: 12px;
  }
}