.header {
  background-color: rgb(246, 237, 255);
  color: black;
  padding-left: 15px;
  padding-right: 15px;
  font-family: Arial, sans-serif;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.header .left-section {
  width: 208px;
}

@media (max-width: 800px) {
  .header .left-section {
    width: unset;
  }
}

.header .header-link {
  display: inline-block;
  padding: 6px 9.5px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);
}

.header .header-link:hover {
  border: 1px solid white;
}

.header .logo {
  display: block;
  height: 200px;
  margin-top: 1px;
}

.header .mobile-logo {
  display: none;
}

@media (max-width: 500px) {
  .header .mobile-logo {
    display: block;
    height: 50px;
    margin-top: 1px;
  }
  .header .logo {
    display: none;
  }
}

.header .middle-section {
  flex: 1;
  max-width: 500px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
}

.middle-section a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}


.header .cart-link {
  background-color: rgb(0, 168, 255);
  display: flex;
  align-items: center;
  position: relative;
  max-height: 35px;
}

.header .cart-icon {
  width: 30px;
  margin-right: 5px;
}

.header .cart-text {
  color: white;
  font-size: 15px;
  font-weight: 700;
}


.header .cart-quantity {
  color: black;
  font-size: 14px;
  font-weight: 700;

  position: absolute;
  top: 3px;
  right: 45px;

  width: 26px;
  text-align: center;
}

@media (max-width: 600px) {
  .middle-section {
    max-width: 200px;
  }
  .middle-section a {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .header .cart-quantity {
    right: 30px;
  }
  .middle-section {
    max-width: 150px;
    margin-left: 5px;
    margin-right: 5px;
    flex-wrap: wrap;
  }
  .middle-section a {
    font-size: 12px;

  }
  .header .right-section {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .header .cart-text {
    display: none;
  }
  .header .cart-quantity {
    font-size: 12px;
    top: 4px;
    right: 7px;
  }
  .header .cart-icon {
    width: 20px;
    margin-right: 0;
  }
}
